Readme.md

# Игнорирование файлов
logs/

# Игнорирование файлов с определённым расширением
*.txt

# Игнорирование файлов с определённым расширением в папке
logs/*.txt

#  Игнорирование файлов с определённым расширением,  но с исключением
*.log
!imortant.log




